<header class="header">
  <div class="container">
    <img src="/assets/images/logo.svg" alt="logo" class="header-logo">
    <nav class="header-nav">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/contacts">Contacts</a></li>
      </ul>
    </nav>
    <button mat-button (click)="openDialog('Request a call')" class="header-btn">Request a call</button>
  </div>
</header>
