.header {
  background: #fff;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-nav {
    margin-left: 80px;
    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: 36px;

        &:first-child {
          margin-left: 0;
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  &-btn {
    margin-left: auto;
    height: 100%;
  }
}
