::ng-deep {
  .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: #000000;
    }

    .mat-form-field-ripple {
      background-color: #000000;
    }
  }

  .mat-form-field-infix {
    width: 245px !important;
  }
}

.form {
  margin-top: 42px;

  &-submit {
    height: 50px;
    margin-top: 16px;
  }
}
