<form (ngSubmit)="onSubmited($event)"  class="form">
  <div *ngIf="!formSubmitted">
    <mat-form-field class="input">
      <mat-label>Phone</mat-label>
      <input type="tel" matInput [formControl]="telFormControl" [(ngModel)]="inputTel" placeholder="(+035) 527-1710-70">
      <mat-error *ngIf="telFormControl.hasError('tel') && !telFormControl.hasError('required')">
        Please enter a valid tel address
      </mat-error>
      <mat-error *ngIf="telFormControl.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error><mat-error *ngIf="telFormControl.hasError('pattern')">
      Uncorrect phone
    </mat-error>
    </mat-form-field>
    <button type="submit" class="form-submit">Submit</button>
  </div>

  <div class="form-submit-message">
    {{message}}
  </div>
</form>




