::ng-deep .mat-dialog-container {
  padding: 0 !important;
  border-radius: 0;
}

::ng-deep .mat-dialog-actions {
  min-height: initial;
}

.popup {
  font-family: "Red Rose", sans-serif;
  position: relative;
  width: 585px;
  padding: 24px 60px;
  background: #EEF2F5;

  &-title {
    font-size: 36px;
    font-weight: bold;
  }

  &-close {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #FEB20E;
    background-image: url("~src/assets/images/close.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }
}
