<div class="popup">
  <div class="popup-title">{{data.title}}</div>
  <mat-dialog-actions align="start">
    <button mat-button mat-dialog-close class="popup-close"></button>
  </mat-dialog-actions>
  <mat-dialog-content>
    <app-form></app-form>
  </mat-dialog-content>
</div>


