.first {
  width: 100%;
  height: 516px;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-bg {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &-desc {
    strong {
      color: #FEB20E;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    margin-top: 40px;
  }
}

.about {
  position: relative;

  .container {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 348px;
    height: 522px;
    object-fit: cover;
  }

  &-wrap {
    margin-left: 76px;
  }

  &-text {
    margin-top: 45px;

    strong {
      font-size: 24px;
    }

    p {
      margin-top: 16px;
    }
  }
}

.projects {
  margin-top: 80px;
  margin-bottom: 100px;

  &-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    margin-right: 4.94vw;
    margin-top: 4.94vw;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      background: #000000;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .3s ease;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {

      &:before {
        opacity: .7;
      }

      .projects-item-text {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &-text {
      opacity: 0;
      transform: translateY(-20px);
      transition: all .3s ease;
      font-size: 14px;
      position: absolute;
      bottom: 40px;
      left: 5%;
      width: 90%;
      color: #FFFFFF;
    }
  }
}
