<section class="first">
  <img src="/assets/images/first.png" alt="first" class="first-bg">
  <div class="container">
    <div class="first-wrap">
      <div class="first-desc">
        We,re <strong>KONS</strong>, <br>
        Construction and Development
      </div>
      <h1 class="first-title">
        Perfection is<br>
        always<br>
        under construction
      </h1>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <img src="/assets/images/about.jpg" alt="about" class="about-img">
    <div class="about-wrap">
      <h2>Introduce about <br> Kons</h2>
      <div class="about-text">
        <strong>
          Founded in Lebanon in 1967, Kons Counstruction Company (Kcc)
          has group to become one of the middle East’s leading construction
          contractors.
        </strong>

        <p>
          We specialize in complex and prestigious construction and infrastructure projects. Our
          portfolio includes some of the region’s most iconic landmarks, from super high-rise
          luxury developments, to five star hotels, hospitals and intricately sophisticated
          smart buildings.
        </p>

        <p>
          We have exacting HSE and sustainability standarts and thr health and safety of booth
          our employees and the general public is given utmost priority.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="projects">
  <div class="container">
    <h2>
      Projects that we <br>
      completed
    </h2>

    <div class="projects-list">
      <div class="projects-item">
        <div class="projects-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, porro.
        </div>
        <img src="/assets/images/project1.jpg" alt="project">
      </div>

      <div class="projects-item">
        <div class="projects-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, porro.
        </div>
        <img src="/assets/images/project2.jpg" alt="project">
      </div>
      <div class="projects-item">
        <div class="projects-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, porro.
        </div>
        <img src="/assets/images/project3.jpg" alt="project">
      </div>
      <div class="projects-item">
        <div class="projects-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, porro.
        </div>
        <img src="/assets/images/project4.jpg" alt="project">
      </div>
      <div class="projects-item">
        <div class="projects-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, porro.
        </div>
        <img src="/assets/images/project5.jpg" alt="project">
      </div>
      <div class="projects-item">
        <div class="projects-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, porro.
        </div>
        <img src="/assets/images/project6.jpg" alt="project">
      </div>
    </div>
  </div>
</section>
