
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kons-primary: mat.define-palette(mat.$indigo-palette);
$kons-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kons-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kons-theme: mat.define-light-theme((
  color: (
    primary: $kons-primary,
    accent: $kons-accent,
    warn: $kons-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kons-theme);

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

// цвета
$gray: #EEF2F5;
$black: #000;
$white: #FFF;
$yellow: #FEB20E;

:host {
  font-family: "Red Rose", sans-serif;
  font-size: 18px;
  color: $black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: $gray;
  font-family: "Red Rose", sans-serif;
}

.container {
  max-width: 1280px;
  display: block;
  margin: auto;
  padding: 0 40px;
}

main {
  padding-top: 70px;
}

a {
  transition: all .3s ease;

  &:hover {
    text-decoration: none;
    color: $black;
    opacity: .7;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: $yellow;
  transition: all .3s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    opacity: .7;
  }
}

h2 {
  font-weight: bold;
  font-size: 32px;
  position: relative;
  padding-left: 24px;

  &:before {
    content: "";
    background: #FEB20E;
    left: 0;
    display: block;
    width: 8px;
    height: 100%;
    position: absolute;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
