<section class="contacts">
  <div class="container">
    <h1>Contacts</h1>
    <ul class="contacts-list">
      <li>
        <strong>Location:</strong> 11 Broadway, 17th Floor
      </li>
      <li>
        <strong>E-mail:</strong> info@kons.com
      </li>
      <li>
        <strong>Phone:</strong> (+035) 527-1710-70
      </li>
    </ul>
  </div>
</section>
